<form {{action "submit" on="submit"}}>

{{input type="text" value=name class="form-control" placeholder="Your Witty Comment"}}

{{input type="text" value=text class="form-control" placeholder="Your Name"}}
<br>
<button class="btn btn-primary">Share Your Wisdom</button>
<br>
{{yield}}
</form>
